# gator-server
GATOR_LISTEN_ADDR=:8080
GATOR_DATABASE_URL=postgres://gator:gator@localhost:5433/gator?sslmode=disable
GATOR_LOG_LEVEL=info

# gator-runner
GATOR_RUNNER_SERVER_URL=ws://localhost:8080/runner
GATOR_RUNNER_TOKEN=
GATOR_RUNNER_NAME=
GATOR_RUNNER_LOCATION=mac
GATOR_RUNNER_WORKDIR=
